{% if meta.source %}
<div class="source-links">
{% for filename in meta.source %}
    <span class="label label-primary">{{ filename }}</span>
{% endfor %}
</div>
{% endif %}

{% include "breadcrumbs.html" %}

{{ content }}

<hr />

{% if include_next_prev %}
<nav>
  <ul class="pager hidden-print">
    <li class="previous{% if not previous_page %} disabled{% endif %}">
      <a rel="prev" {% if previous_page %}href="{{ previous_page.url }}"{% endif %}><i class="fa fa-arrow-left"></i> Previous</a>
    </li>
    <li class="next{% if not next_page %} disabled {% endif %}">
      <a rel="next" {% if next_page %}href="{{ next_page.url }}"{% endif %}>Next <i class="fa fa-arrow-right"></i></a>
    </li>
  </ul>
</nav>
{% endif %}
